poverenik/server/src/main/resources/wsdl/Izvestaj.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IzvestajService" targetNamespace="http://administracija/ws/izvestaj" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://administracija/ws/izvestaj" xmlns:ns1="http://localhost:8080/resenje" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:ns1="http://localhost:8080/resenje" xmlns:tns="http://localhost:8080/zalbanaodluku" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/zalbanaodluku" version="1.0">

  <xs:import namespace="http://localhost:8080/resenje"/>

  <xs:element name="datum_podnosenja_zahteva">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="property" type="xs:anySimpleType"/>
          <xs:attribute name="datatype" type="xs:anySimpleType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="detalji_predaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="mesto">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="datum">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="informacije_o_podnosiocu_zalbe">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="ime" type="xs:string"/>
        <xs:element form="qualified" name="prezime" type="xs:string"/>
        <xs:element form="qualified" name="adresa" type="xs:string"/>
        <xs:element form="qualified" name="drugi_kontakt" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="about" type="xs:anySimpleType"/>
      <xs:attribute name="rel" type="xs:anySimpleType"/>
      <xs:attribute name="href" type="xs:anySimpleType"/>
      <xs:attribute name="vocab" type="xs:anySimpleType"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="naziv_organa">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="property" type="xs:anySimpleType"/>
          <xs:attribute name="datatype" type="xs:anySimpleType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="opis_zalbe" type="xs:string"/>

  <xs:element name="podnosilac_zalbe">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="ime" type="xs:string"/>
        <xs:element form="qualified" name="prezime" type="xs:string"/>
        <xs:element form="qualified" name="naziv" type="xs:string"/>
        <xs:element form="qualified" name="adresa" type="xs:string"/>
        <xs:element form="qualified" name="sediste" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="resenje">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="broj_resenja" type="xs:string"/>
        <xs:element form="qualified" name="datum_resenja">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="status">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="property" type="xs:anySimpleType"/>
          <xs:attribute name="datatype" type="xs:anySimpleType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="zalbanaodluku" type="ns1:tipZalOdluka"/>

  <xs:element name="zalbenaodluku">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:zalbanaodluku"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>
<xs:schema xmlns:ns1="http://localhost:8080/resenje" xmlns:tns="http://localhost:8080/zalba" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/zalba" version="1.0">

  <xs:import namespace="http://localhost:8080/resenje"/>

  <xs:element name="datum_zahteva" type="xs:string"/>

  <xs:element name="detalji_predaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="mesto">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="datum">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="informacije_o_podnosiocu_zalbe">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="ime" type="xs:string"/>
        <xs:element form="qualified" name="prezime" type="xs:string"/>
        <xs:element form="qualified" name="adresa" type="xs:string"/>
        <xs:element form="qualified" name="drugi_kontakt" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="about" type="xs:anySimpleType"/>
      <xs:attribute name="rel" type="xs:anySimpleType"/>
      <xs:attribute name="href" type="xs:anySimpleType"/>
      <xs:attribute name="vocab" type="xs:anySimpleType"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="naziv_organa">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="property" type="xs:anySimpleType"/>
          <xs:attribute name="datatype" type="xs:anySimpleType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="podaci_zahteva" type="xs:string"/>

  <xs:element name="razlog_zalbe" type="xs:int"/>

  <xs:element name="status">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="property" type="xs:anySimpleType"/>
          <xs:attribute name="datatype" type="xs:anySimpleType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="zalbacutanje" type="ns1:tipZalCutanje"/>

  <xs:element name="zalbecutanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:zalbacutanje"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>
<xs:schema xmlns:ns1="http://localhost:8080/resenje" xmlns:tns="http://localhost:8080/zahtevcir" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/zahtevcir" version="1.0">

  <xs:import namespace="http://localhost:8080/resenje"/>

  <xs:element name="detalji_predaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="mesto">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="datum">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="informacije_o_traziocu">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="ime" type="xs:string"/>
        <xs:element form="qualified" name="prezime" type="xs:string"/>
        <xs:element form="qualified" name="adresa" type="xs:string"/>
        <xs:element form="qualified" name="drugi_kontakt" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="about" type="xs:anySimpleType"/>
      <xs:attribute name="rel" type="xs:anySimpleType"/>
      <xs:attribute name="href" type="xs:anySimpleType"/>
      <xs:attribute name="vocab" type="xs:anySimpleType"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="listaZahteva">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="svrha_zahteva" type="xs:int"/>
        <xs:element form="qualified" name="nacin_dostave" type="xs:string"/>
        <xs:element form="qualified" name="opis_informacije" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="organ">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="naziv" type="xs:string"/>
        <xs:element form="qualified" name="sediste">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="status">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="property" type="xs:anySimpleType"/>
          <xs:attribute name="datatype" type="xs:anySimpleType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="zahtev" type="ns1:tipZahtev"/>

  <xs:element name="zahtevi">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:zahtev"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/tipovi" version="1.0">

  <xs:complexType name="Tosoba">
    <xs:sequence>
      <xs:element form="qualified" name="ime" type="xs:string"/>
      <xs:element form="qualified" name="prezime" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:ns1="http://localhost:8080/izvestaj" xmlns:ns2="http://localhost:8080/zahtevcir" xmlns:ns3="http://localhost:8080/tipovi" xmlns:ns4="http://localhost:8080/zalbanaodluku" xmlns:ns5="http://localhost:8080/zalba" xmlns:ns6="http://localhost:8080/obavestenje" xmlns:tns="http://localhost:8080/resenje" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8080/resenje" version="1.0">

  <xs:import namespace="http://localhost:8080/izvestaj"/>

  <xs:import namespace="http://localhost:8080/zahtevcir"/>

  <xs:import namespace="http://localhost:8080/tipovi"/>

  <xs:import namespace="http://localhost:8080/zalbanaodluku"/>

  <xs:import namespace="http://localhost:8080/zalba"/>

  <xs:import namespace="http://localhost:8080/obavestenje"/>

  <xs:element name="resenja">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="resenje" nillable="true" type="tns:tipResenje"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="resenje" type="tns:tipResenje"/>

  <xs:complexType name="tipIzvestaj">
    <xs:sequence>
      <xs:element ref="ns1:podnosilac"/>
      <xs:element ref="ns1:datum_podnosenja"/>
      <xs:element ref="ns1:zalbe"/>
      <xs:element ref="ns1:zahtevi"/>
    </xs:sequence>
    <xs:attribute name="about" type="xs:anySimpleType"/>
    <xs:attribute name="rel" type="xs:anySimpleType"/>
    <xs:attribute name="href" type="xs:anySimpleType"/>
    <xs:attribute name="vocab" type="xs:anySimpleType"/>
  </xs:complexType>

  <xs:complexType name="tipZahtev">
    <xs:sequence>
      <xs:element ref="ns2:status"/>
      <xs:element ref="ns2:organ"/>
      <xs:element ref="ns2:listaZahteva"/>
      <xs:element ref="ns2:detalji_predaje"/>
      <xs:element ref="ns2:informacije_o_traziocu"/>
    </xs:sequence>
    <xs:attribute name="about" type="xs:anySimpleType"/>
    <xs:attribute name="rel" type="xs:anySimpleType"/>
    <xs:attribute name="href" type="xs:anySimpleType"/>
    <xs:attribute name="vocab" type="xs:anySimpleType"/>
  </xs:complexType>

  <xs:complexType name="tipResenje">
    <xs:sequence>
      <xs:element name="zaglavlje">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="rezultat_resenja" type="xs:string"/>
            <xs:element name="informacije_predmeta">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="broj_predmeta" type="xs:string"/>
                  <xs:element name="datum_predmeta">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="property" type="xs:anySimpleType"/>
                          <xs:attribute name="datatype" type="xs:anySimpleType"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="datum_resenja">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="property" type="xs:anySimpleType"/>
                    <xs:attribute name="datatype" type="xs:anySimpleType"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="razlog_zalbe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="podnositelj_zalbe" type="ns3:Tosoba"/>
            <xs:element name="razlog" type="xs:string"/>
          </xs:sequence>
          <xs:attribute name="about" type="xs:anySimpleType"/>
          <xs:attribute name="rel" type="xs:anySimpleType"/>
          <xs:attribute name="href" type="xs:anySimpleType"/>
          <xs:attribute name="vocab" type="xs:anySimpleType"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="telo_resenja">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="odgovor_na_zalbu" type="xs:string"/>
            <xs:element name="obrazlozenje">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="uvod_obrazlozenja" type="xs:string"/>
                  <xs:element name="postupajuci_po_zalbi" type="xs:string"/>
                  <xs:element name="uvid" type="xs:string"/>
                  <xs:element name="dodatan_uvid" type="xs:string"/>
                  <xs:element name="odgovor_poverenika" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="upravni_spor">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="mesto">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="property" type="xs:anySimpleType"/>
                          <xs:attribute name="datatype" type="xs:anySimpleType"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="rok_prijema" type="xs:string"/>
                  <xs:element name="taksa" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="poverenik">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="ns3:Tosoba">
              <xs:sequence/>
              <xs:attribute name="about" type="xs:anySimpleType"/>
              <xs:attribute name="rel" type="xs:anySimpleType"/>
              <xs:attribute name="href" type="xs:anySimpleType"/>
              <xs:attribute name="vocab" type="xs:anySimpleType"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="about" type="xs:anySimpleType"/>
    <xs:attribute name="rel" type="xs:anySimpleType"/>
    <xs:attribute name="href" type="xs:anySimpleType"/>
    <xs:attribute name="vocab" type="xs:anySimpleType"/>
  </xs:complexType>

  <xs:complexType name="tipZalOdluka">
    <xs:sequence>
      <xs:element ref="ns4:status"/>
      <xs:element ref="ns4:podnosilac_zalbe"/>
      <xs:element ref="ns4:naziv_organa"/>
      <xs:element ref="ns4:resenje"/>
      <xs:element ref="ns4:datum_podnosenja_zahteva"/>
      <xs:element ref="ns4:opis_zalbe"/>
      <xs:element ref="ns4:detalji_predaje"/>
      <xs:element ref="ns4:informacije_o_podnosiocu_zalbe"/>
    </xs:sequence>
    <xs:attribute name="about" type="xs:anySimpleType"/>
    <xs:attribute name="rel" type="xs:anySimpleType"/>
    <xs:attribute name="href" type="xs:anySimpleType"/>
    <xs:attribute name="vocab" type="xs:anySimpleType"/>
  </xs:complexType>

  <xs:complexType name="tipZalCutanje">
    <xs:sequence>
      <xs:element ref="ns5:status"/>
      <xs:element ref="ns5:naziv_organa"/>
      <xs:element ref="ns5:razlog_zalbe"/>
      <xs:element ref="ns5:datum_zahteva"/>
      <xs:element ref="ns5:podaci_zahteva"/>
      <xs:element ref="ns5:detalji_predaje"/>
      <xs:element ref="ns5:informacije_o_podnosiocu_zalbe"/>
    </xs:sequence>
    <xs:attribute name="about" type="xs:anySimpleType"/>
    <xs:attribute name="rel" type="xs:anySimpleType"/>
    <xs:attribute name="href" type="xs:anySimpleType"/>
    <xs:attribute name="vocab" type="xs:anySimpleType"/>
  </xs:complexType>

  <xs:complexType name="tipObavestenje">
    <xs:sequence>
      <xs:element ref="ns6:zaglavlje"/>
      <xs:element ref="ns6:telo"/>
    </xs:sequence>
    <xs:attribute name="about" type="xs:anySimpleType"/>
    <xs:attribute name="rel" type="xs:anySimpleType"/>
    <xs:attribute name="href" type="xs:anySimpleType"/>
    <xs:attribute name="vocab" type="xs:anySimpleType"/>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:ns1="http://localhost:8080/resenje" xmlns:tns="http://localhost:8080/obavestenje" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/obavestenje" version="1.0">

  <xs:import namespace="http://localhost:8080/resenje"/>

  <xs:element name="obavestenja">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:obavestenje"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="obavestenje" type="ns1:tipObavestenje"/>

  <xs:element name="telo">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="trazena_informacija">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="datum_informacija">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="property" type="xs:anySimpleType"/>
                      <xs:attribute name="datatype" type="xs:anySimpleType"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element form="qualified" name="opis_informacije" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="about" type="xs:anySimpleType"/>
            <xs:attribute name="rel" type="xs:anySimpleType"/>
            <xs:attribute name="href" type="xs:anySimpleType"/>
            <xs:attribute name="vocab" type="xs:anySimpleType"/>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="uvid">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="vreme">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element form="qualified" name="datum" type="xs:string"/>
                    <xs:element form="qualified" name="cas" type="xs:string"/>
                    <xs:element form="qualified" name="trajanje">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element form="qualified" name="pocetak" type="xs:string"/>
                          <xs:element form="qualified" name="kraj" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element form="qualified" name="adresa">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element form="qualified" name="mesto" type="xs:string"/>
                    <xs:element form="qualified" name="ulica" type="xs:string"/>
                    <xs:element form="qualified" name="broj" type="xs:string"/>
                    <xs:element form="qualified" name="br_kancelarije" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="trosak" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="zaglavlje">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="organ">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="naziv_organa" type="xs:string"/>
              <xs:element form="qualified" name="sediste_organa">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="property" type="xs:anySimpleType"/>
                      <xs:attribute name="datatype" type="xs:anySimpleType"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="broj_predmeta" type="xs:string"/>
        <xs:element form="qualified" name="datum">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="podnosioc_zahteva">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="ime" type="xs:string"/>
              <xs:element form="qualified" name="prezime" type="xs:string"/>
              <xs:element form="qualified" name="naziv" type="xs:string"/>
              <xs:element form="qualified" name="adresa" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>
<xs:schema xmlns:tns="http://localhost:8080/korisnici" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/korisnici" version="1.0">

  <xs:element name="korisnici">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:korisnik"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="korisnik">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="email_adresa">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="property" type="xs:anySimpleType"/>
                <xs:attribute name="datatype" type="xs:anySimpleType"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="sifra" type="xs:string"/>
        <xs:element form="qualified" name="ime" type="xs:string"/>
        <xs:element form="qualified" name="prezime" type="xs:string"/>
        <xs:element form="qualified" name="datum_promene_sifre" type="xs:string"/>
        <xs:element form="qualified" name="tip_korisnika" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="about" type="xs:anySimpleType"/>
      <xs:attribute name="rel" type="xs:anySimpleType"/>
      <xs:attribute name="href" type="xs:anySimpleType"/>
      <xs:attribute name="vocab" type="xs:anySimpleType"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
<xs:schema xmlns:ns1="http://localhost:8080/resenje" xmlns:tns="http://localhost:8080/izvestaj" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/izvestaj" version="1.0">

  <xs:import namespace="http://localhost:8080/resenje"/>

  <xs:element name="datum_podnosenja">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="property" type="xs:anySimpleType"/>
          <xs:attribute name="datatype" type="xs:anySimpleType"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="izvestaj" type="ns1:tipIzvestaj"/>

  <xs:element name="izvestaji">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:izvestaj"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="podnosilac">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="ime" type="xs:string"/>
        <xs:element form="qualified" name="prezime" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="about" type="xs:anySimpleType"/>
      <xs:attribute name="rel" type="xs:anySimpleType"/>
      <xs:attribute name="href" type="xs:anySimpleType"/>
      <xs:attribute name="vocab" type="xs:anySimpleType"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="zahtevi">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="broj_prihvacenih" type="xs:int"/>
        <xs:element form="qualified" name="broj_podnetih" type="xs:int"/>
        <xs:element form="qualified" name="broj_odbijenih" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="zalbe">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="na_odluku">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="broj_prihvacenih" type="xs:int"/>
              <xs:element form="qualified" name="broj_podnetih" type="xs:int"/>
              <xs:element form="qualified" name="broj_odbijenih" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="cutanje">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="broj_prihvacenih" type="xs:int"/>
              <xs:element form="qualified" name="broj_podnetih" type="xs:int"/>
              <xs:element form="qualified" name="broj_odbijenih" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="spisak">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="zalba" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>
  </wsdl:types>
  <wsdl:message name="sendIzvestajResponse">
  </wsdl:message>
  <wsdl:message name="sendIzvestaj">
    <wsdl:part name="izvestaj" type="ns1:tipIzvestaj">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Izvestaj">
    <wsdl:operation name="sendIzvestaj">
      <wsdl:input name="sendIzvestaj" message="tns:sendIzvestaj">
    </wsdl:input>
      <wsdl:output name="sendIzvestajResponse" message="tns:sendIzvestajResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IzvestajServiceSoapBinding" type="tns:Izvestaj">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendIzvestaj">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="sendIzvestaj">
        <soap:body use="literal" namespace="http://administracija/ws/izvestaj"/>
      </wsdl:input>
      <wsdl:output name="sendIzvestajResponse">
        <soap:body use="literal" namespace="http://administracija/ws/izvestaj"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IzvestajService">
    <wsdl:port name="IzvestajPort" binding="tns:IzvestajServiceSoapBinding">
      <soap:address location="http://localhost:9090/IzvestajPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
